{% extends "base.html" %}

{% block body %}
  <div class="p-strip is-shallow">
    <div class="p-content__row">
      <h1>{{ title }}</h1>
      {{ body_html | safe }}
    </div>
  </div>

  <div class="p-strip is-shallow">
      <div class="p-content__row">
        <div class="p-notification--information">
          <p class="p-notification__response">
            Last updated {{ updated }}. <a href="{{ forum_link }}">Help improve this document in the forum</a>.
          </p>
        </div>
    </div>
  </div>
{% endblock %}
